
ion-content{
  --ion-background-color: #FFDA43;
  --ion-color: #000000;
}

table.mat-table{
  display: table;
  width: 100%;
  th {
    background-color: #BF9C34;
    color: black;
    font-weight: bold;
    font-size: medium;
    align-items: center;
  }

  td, th {
    white-space: normal;
    word-wrap: break-word;
    max-width: 15px;
  }

  td {
    font-size: small;
    background-color: #FFDA43;
  }

  .hideMe{
    display:none;
  }
}

