ion-content.background {
  --background: url(../../assets/image/fundo2.png) 0 0/100% 100% no-repeat
}

.button.button-custom:hover,
.button.button-custom:active {
  color: #fff;
  background-color: var(--ion-color-contrast);
}

.btn {
  --color: #fff;
  --width: 100%;
  --vertical-align: left;
  --padding-start: 0px;
  --padding-end: 2px;
  --paddin-bottom: 0px !important;
  --border-radius: 0px;
}

.vertical {
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  align-items: center;
  line-height: 30px;
  color: #ffff
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
